<!DOCTYPE html>
{% load leaflet_tags %}
{% load dictionary_extras %}
{% load splitter %}
{% load static %}

<html>

    <head>
        <title>NewsMiner+</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        
        {% leaflet_js %}
        {% leaflet_css %}
		<link rel="stylesheet" href="../dist/leaflet.label.css" />
		
    </head>

    <body>
    	   
    	<header>
    	</header>
    	<nav><a href="{{home}}">Home</a> | <a href="{{what}}">What is NewsMiner+?</a> | <a href="{{impressum}}">Impressum</a></nav>
    	<section>
			{% for article in articles %}
			<article>
				<a name = "{{article.link}}"></a>
				<h2 class="article_title">&raquo;{{article.title}}&laquo;
				
				<div align="right">
					<a href="#{{article.link}}" onclick="javascript:showHide('{{article.link}}');">
						<img src="{% static "minepick_blue.png" %}"  width="3%" height="3%" />
					</a>
				</div>
				
				</h2>
				
				<p>
					{{article.description}}
				</p>
				
				
				<div id="{{article.link}}" class="article_text" style="display:none">
					{% for word in article.text|split:' ' %}{% if word in location_match.keys %}<a href="#"  onclick="focusLocation({{location_match|access:word|access:'lat'}}, {{location_match|access:word|access:'lng'}})">{{word}}</a> {% else %}{{word}} {% endif %}{% endfor %}	
				</div>
				
				</div>
			</article>
			{% endfor %}		
   </div>
		
		<aside>
			
    	{% leaflet_map "yourmap" callback="window.map_init_basic" creatediv="True"%}		
    	
    	<div id="widget">
    		widget area
    	</div>
    	
		</div>
		
	<div id="bottom">
	</div>
	<script src="{% static "js/Label.js" %}"></script>
	<script src="{% static "js/BaseMarkerMethods.js" %}"></script>
	<script src="{% static "js/Marker.Label.js" %}"></script>
	<script src="{% static "js/Map.Label.js" %}"></script>
	
	<script type="text/javascript" charset="utf-8">
	  	function showHide(elementid){
	    	if (document.getElementById(elementid).style.display == 'none'){
	      		document.getElementById(elementid).style.display = '';
	    	} else {
	      		document.getElementById(elementid).style.display = 'none';
	    	}
	  	}
    	function changeContent(id, msg) {
     		var el = document.getElementById(id);
    		if (id) {
    			el.innerHTML = msg;
    		}
    	}
    	
    	function focusLocation(latitude, longitude) {
    		var newCenter = L.latLng(latitude, longitude);
        	map.panTo(newCenter)
    	}
    	function map_init_basic (map, options) {
    		{% for location in locations %}
        	L.marker([{{location.latlng.0}},  {{location.latlng.1}}]).bindLabel("{{location.name}}", { noHide: false })
        	.addTo(map);
        	{% endfor %}
        	var center = L.latLng({{map_center.0}}, {{map_center.1}});
        	map.panTo(center);
    	}
	</script>
    </body>
</html>