<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <h1>NewsMiner+</h1>
        <img src="{% static "logogei.png" %}" alt="Picture of Paul" /> <!-- Images -->
		<br />
		{{content_text}}
		<br />
		<ul>
			<li><a href='{{dossier}}'>Dossier</a></li>
		</ul>
    </body>

</html>