<!DOCTYPE html>
{% load static %}

<html>

    <head>
        <title>NewsMiner+</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>

    <body>
		
    	<header>
			<h1>NewsMiner+</h1>
    	</header>
		<div id='wrapper'>
    	<nav><strong>Home</strong> | <a href="{{what}}">What is NewsMiner+?</a> | <a href="{{impressum}}">Impressum</a></nav>
		<section>
			{% for d in distribution %}
				<p class="dossierlist">
				<a href='{{dossier}}{{d}}'>Dossier {{d}}:
					{% for key, val in topEntities.items %}
						{% if key = d %}
							{% for word in val %}
								#{{word}}&nbsp;
							{% endfor %}
						{% endif  %}
					{% endfor %}
				[read more...]</a>
				</p>
			{% endfor %}
		</section>
		</div>
	<footer>	
	</footer>
    </body>

</html>