<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}NewsMiner+{% endblock %}
{% block content %}
    <h1>NewsMiner+</h1>
	<br />
	{{content_text}}
	<br />
	<ul>
		<li><a href='{{dossier}}'>Dossier</a></li>
	</ul>
{% endblock %}
{% load static %}

<html>

    <head>
        <title>NewsMiner+</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>

    <body>
    	<div id="head">
    	</div>
    	<div id ="headlinks"><strong>Home</strong> | <a href="{{what}}">What is NewsMiner+?</a> | <a href="{{impressum}}">Impressum</a></div>
    	<div id="main">
			{% for d in dist %}
			<div class="topic">
			<a href='{{dossier}}{{d}}'><h3>Generic title for dossier {{d}}</h3></a>
			<p>Cluster Nr.{{d}} having articles ... <a href='{{dossier}}{{d}}'>[more]</a></p>
			</div>
			
			{% endfor %}
		<center>
		<img src="{% static "happygei.png" %}" alt="...">
		</center>
	</div>
	
	<div id="bottom">
	</div>
	
    </body>

</html>