<!DOCTYPE html>
{% load static %}

<html>

    <head>
        <title>NewsMiner+</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>

    <body>
		
    	<header>
			<h1><a href="/">NewsMiner+</a></h1>
    	</header>
		<nav>
			<ul>
				<li><a href='{% url 'index' %}'>Dossiers</a></li>
				<li class='active'><a href='{% url 'what' %}'>What is NewsMiner+?</a></li>
				<li><a href='{% url 'impressum' %}'>Impressum</a></li>
			</ul>
		</nav>
		<div id='wrapper'>
    	<section class='text'>
				<h2>What is NewsMiner+?</h2>
				<p>
					NewsMiner+ is a web blog providing mashups regarding recent topics. Imagine, as different
					newspapers almost deal the same topics, it's rather complicated to get an overview over different
					articles at first and the topic bakground at second.
				</p>	
				<p>
					Technically, the application crawls a large collection of RSS feeds from all over the world, such as 
					<em>Le Monde</em>, <em>The Guardian</em> or <em>The New York Times</em>.
					After clustering the articles, all relevant entities are detected and the NewsMiner+ searches for 
					additional informations to describe them, using <em>Freebase</em>, <em>GoogleMaps</em> and 
					<em>Leaflet/Open Street Maps</em>.
				</p>
			
				<h2>What is the parrots' name?</h2>
				<p>
					Paul, the Parrot. Arr.
				</p>	
				<img src="{% static "happygei.png" %}" alt="So much text to read...">	
		</section>
   		</div>
   	<footer>	
   	</footer>
       </body>

   </html>