/*
==============================================
	IMPORTS
==============================================
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:300,600|Yanone+Kaffeesatz);


/*
==============================================
	RESET
==============================================
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,main,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,main,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*
==============================================
	BASE
==============================================
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 100%;
	min-width: 768px;
	overflow-y: scroll;
	width: 100%;
}

body {
  background: #222222 url(../bg_wood.jpg) repeat;
  color: #434a54;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1rem;
} 

#wrapper {
	margin: 0 1% 0 5%;
	padding: 0;
	max-width: 50%;
	float: left;
	overflow: scroll;
	max-height: 660px;
	background: #eee;
	-moz-box-shadow: 1px 1px 6px #292929; /* Firefox */ 
	-webkit-box-shadow:1px 1px 6px #292929; /* Chrome, Safari */
	-khtml-box-shadow:1px 1px 6px #292929; /* Konqueror */ 
	box-shadow:1px 1px 6px #292929; /* CSS3 */
}

header {
	padding: 0.5% 0 0 5%;
	color: #bbb;
	height: 60px;
}

section {
	

}

aside {
	width: 33%;
	margin-left: 1%;
	margin-right: 10%;
	float: left;
}

.text {
    background-color: #fefefe;
    list-style: none;
    margin: 0;
    padding: 6px;
}

.text-item {
    transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
    
    background-color: #f9f9f9;
    margin: 0 0 3px;
    padding: 25px 35px;
    position: relative;
    z-index: 0;
}

/* ======= Nav/Footer ======= */

nav {
	margin: 0 1% 0 5%;
	max-width: 50%;
	color: #333;
	height: 1.95em;
}

nav ul {
	list-style: none;
	margin: 0;
	text-align: right;
}

nav ul li {
	display: inline;
	padding: 0.5em;
	margin: 0 0 0 0.5%;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	background: #bbb;
}

nav ul li:hover {
	background: #fefefe;
}

footer {
	padding: 1%;
	color: #333;
	text-align: center;
}

footer:hover {
	background: #bbb;
	font-weight: bold;
}

nav a:hover {
	font-weight: normal;
}

.active {
	background: #fefefe;
}

/* ======= Text-Styles ======= */ 

h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 4em;
}

header a {
	text-decoration: none;
	color: #C88B18;
}

header a:hover {
	font-weight: normal;
	color: #B66118;
}

h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 2em;
	margin: 1% 0;
}

p {
	margin: 0.5% 0;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	font-weight: bold;
}

.cards {
    background-color: #fefefe;
    list-style: none;
    margin: 0;
    padding: 6px;
}

.card-item {
    transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
    
    background-color: #f9f9f9;
    margin: 0 0 3px;
    padding: 25px 35px;
    position: relative;
    z-index: 0;
}

.card-item:HOVER {
	background: #424242;
	color: #eee;
	font-weight: normal;
}

.text-item a:hover {
	font-style: italic;
}

/* ======= Various ======= */ 
::-webkit-scrollbar {
display: none;
}


/* ======= Leaflet ======= */ 
.leaflet-container {  /* all maps */
}	
.leaflet-label {
	background: #C0D6E4;
	background-clip: padding-box;
	border-color: rgba(102,117,127,0.15);
	border-radius: 4px;
	border-style: solid;
	border-width: 4px;
	color: rgb(41, 47, 51);
	display: block;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 1px 6px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
	z-index: 6;
}

/* ======= Dossier ======= */ 
.widget {
	padding: 1%;
	margin: 2%;
	border: 7px solid white;
	-moz-box-shadow: 1px 1px 6px #292929; /* Firefox */ 
	-webkit-box-shadow:1px 1px 6px #292929; /* Chrome, Safari */
	-khtml-box-shadow:1px 1px 6px #292929; /* Konqueror */ 
	box-shadow:1px 1px 6px #292929; /* CSS3 */
	background-color: #f9f9f9;
	font-size: 80%;
}

.custom_widget {
	margin: 2%;
	padding: 1%;
	border: 7px solid white;
	-moz-box-shadow: 1px 1px 6px #292929; /* Firefox */ 
	-webkit-box-shadow:1px 1px 6px #292929; /* Chrome, Safari */
	-khtml-box-shadow:1px 1px 6px #292929; /* Konqueror */ 
	box-shadow:1px 1px 6px #292929; /* CSS3 */
	background-color: #f9f9f9;
	font-size: 80%;
}

.entity_link {
	font-weight: bold;
}

.widget-title {
	font-weight: bold;
}
