<!DOCTYPE html>
{% load static %}

<html>

    <head>
        <title>NewsMiner+</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>

    <body>
		<div class='wrapper'>
    	<header class='main-header clearfix'>
			<h1 class='logo'><a href="/">NewsMiner+</a></h1>
			<nav role='navigation' class='main-navigation'>
				<ul class='clearfix'>
				<li class="inactive">« Older</li>
				<li><a href='{% url 'index' %}'>Dossiers</a></li>
				<li class="inactive">Newer »</li>
				<li><a href='{% url 'archive' %}' class='active'>Archive</a></li>
				<li><a href='{% url 'impressum' %}'>Imprint</a></li>
					</ul>
				</nav>
	    	</header>
			<main role='main' class='main-content clearfix'>
				<section class='main-section'>
				<h1>Archive</h1>
				<p>
					{% for dossier in dossierlist %}
						<article class="dossierlist">
							<ul>
							<li><a href='{{dossier}}' class='clearfix'>
								<h2>Dossiers, Datum</h2>
							</a></li>
						</ul>
						</article>
					{% endfor %}
				</p>
				<center><img src="{% static "happygei.png" %}" alt="So much text to read..."></center>	
					</section>
				</main>
				</div>
			 </body>

			</html>
