<!DOCTYPE html>
{% load leaflet_tags %}
{% load dictionary_extras %}
{% load getRange %}
{% load splitter %}
{% load inside %}
{% load escape %}
{% load html_escape %}
{% load static %}


<html>

    <head>
        <title>NewsMiner+</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        
        {% leaflet_js %}
        {% leaflet_css %}
		
    </head>

    <body>
		<div class='wrapper'>
    	<header class='main-header clearfix'>
			<h1 class='logo'><a href="/">NewsMiner+</a></h1>
			<nav role='navigation' class='main-navigation'>
				<ul class='clearfix'>
				<li class="inactive">« Older</li>
				<li><a href='{% url 'index' %}' class='active'>Back</a></li>
				<li class="inactive">Newer »</li>
				<li><a href='{% url 'archive' %}'>Archive</a></li>
				<li><a href='{% url 'impressum' %}'>Imprint</a></li>
			</ul>
			</nav>
    	</header>
		<main role='main' class='main-content clearfix'>
			<section class='main-section'>
				
			{% for article in articles %}
			<article class="article-item clearfix">
				<img src="{% static 'flags_small/' %}{{article.country}}.png" class='flags'>
				<h2 class="article_title">{{article.title}}</h2>
				<p class="article_description">{% for word in article.description|striptags|split:' ' %}{% if forloop.counter < 50 %}{% if word in location_match.keys %}<a href="#" class="entity_link" id='map-navigation:d{{forloop.counter}}' class="map-navigation" data-zoom="8" data-position="{{location_match|access:word|access:'lat'}},{{location_match|access:word|access:'lng'}}">{{word|html_escape}}</a> {% elif word in entities.keys %} <a href='#' class="entity_link" onclick="changeContent('custom-widget-title', '{{entities|access:word|access:'name'|escape}}');changeContent('custom-widget-description', '{{entities|access:word|access:'description'}}');">{{word|html_escape}}</a> {% else %}{{word|html_escape}} {% endif %}{% endif %}{% endfor %}...</p>	
				<p id="{{article.link}}" class="article_text" style="display:none;">
					{% for word in article.text|striptags|split:' ' %}{% if word in location_match.keys %}<a href="#" class="entity_link" id='map-navigation:{{forloop.counter}}' class="map-navigation" data-zoom="8" data-position="{{location_match|access:word|access:'lat'}},{{location_match|access:word|access:'lng'}}">{{word}}</a> {% elif word in entities.keys %} <a href='#' class="entity_link" onclick="changeContent('custom-widget-title','{{entities|access:word|access:'name'|escape}}');changeContent('custom-widget-description', '{{entities|access:word|access:'description'}}');">{{word}}</a> {% else %}{{word}} {% endif %}{% endfor %}	
				</p>
				<a href="#{{article.link}}" onclick="javascript:showHide('{{article.link}}');"> [read more / hide]</a>
			<p class="source">«{{article.newspaper}}», {{article.timestamp}}</p> 
			</article>
			{% endfor %}
			
			</section>		
		</main>
		<aside class='aside-content'>
		
			<!-- LEAFLET MAP WIDGET -->
			<div class="widget">
				<div class='widget-title' id="widget-name-{{forloop.counter}}">
					Map [show/hide]</a>
				</div>
				<div class='widget-content' id="widget-description-{{forloop.counter}}">
					{% leaflet_map "yourmap" callback="window.map_init_basic" creatediv="True"%}
				</div>	
			</div>	
    		
    		<!-- TOP K ENTITIES WIDGET(S) -->
			{% for entity in topK %}
    			<div class="freebase widget">
    				{% if entities|access:entity|access:'type' == 'organization' %}
    					<div class='widget-title' id="widget-name-{{forloop.counter}}">
    						{{entities|access:entity|access:'name'|escape}} <a href="#" onclick="javascript:showHide('widget-description-{{forloop.counter}}');">[show/hide]</a>
    					</div>
    					<div class='widget-content' id="widget-description-{{forloop.counter}}" style="display:none">
    						{{entities|access:entity|access:'description'}}
    					</div>
    				{% elif entities|access:entity|access:'type' == 'person' %}
    					<div class='widget-title' id="widget-name-{{forloop.counter}}">
    						{{entities|access:entity|access:'name'|escape}} <a href="#" onclick="javascript:showHide('widget-description-{{forloop.counter}}');">[show/hide]</a>
    					</div>
    					<div class='widget-content' id="widget-description-{{forloop.counter}}" style="display:none">
    						<img src="https://usercontent.googleapis.com/freebase/v1/image{{entities|access:entity|access:'image'}}" alt="https://www.googleapis.com/freebase/v1/image/m/03s72mc" style="float:left; margin:5px;">
    						{{entities|access:entity|access:'description'}}
    					</div>
    				{% endif %}
    			</div>
    		{% endfor %}
			
			<!-- CUSTOMIZED WIDGET -->
    		<div class="custom widget" id="custom-widget">
				<div class='widget-title'>
					<div id="custom-widget-title">
						More... [show/hide]</a>
					</div>
				</div>
				<div style="display:none" id="custom-widget-description">
					Information about additional persons, locations and organizations.
				</div>
    		</div>
    		
    		<!-- GOOGLE TREND WIDGET -->
    		<div class="popularity widget">
    			<div class='widget-title' id="widget-name-{{forloop.counter}}">
    						Popularity [show/hide]</a>
    			</div>
    			<div class='widget-content' id="popularity_widget" style="display:none">
    				{% with articles|access:0 as article %} 
    				<script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q={% for name in article.entity_persons %}{% if forloop.counter < 3 %}{{name}},+{% endif %}{% endfor %}&date=today+1-m&gprop=news&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=400"></script>

					{% endwith %}

				</div>

			</div>
    		    		
    		<!-- PERSON BAR DIAGRAM -->
    		<div class="persons widget">
    			<div class='widget-title' id="widget-name">
    						Peoples [show/hide]</a>
    			</div>
    			<div class='widget-content' id="persons_widget"  style="display:none">
    				<!-- content generated onload by javascript:drawChart() -->
    			</div>
    		</div>
		</aside>
		</div>
		
	<!-- JSCRIPT IMPORTS -->
	<script src="{% static "js/Label.js" %}"></script>
	<script src="{% static "js/BaseMarkerMethods.js" %}"></script>
	<script src="{% static "js/Marker.Label.js" %}"></script>
	<script src="{% static "js/Map.Label.js" %}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
	
	<!-- JSCRIPT FUNCTIONS -->
	<script>
	$('.aside-content > .widget:first-child > .widget-content').show();
	$('.aside-content > .widget > .widget-title').click(function(){

	    // close
	    $('.aside-content .widget-content').stop().slideUp();

	    // toggle
	    if($(this).next('.widget-content').is(':hidden') == true){
	        $(this).next().slideDown();
	    }

	    event.preventDefault();
	    return false;

	});
		
    	function changeContent(id, msg) {
     		var el = document.getElementById(id);
    		if (id) {
    			el.innerHTML = msg;
    		}
    	}
			
    	function focusLocation(latitude, longitude) {
    		var newCenter = L.latLng(latitude, longitude);
    		map.zoomOut(3);
        	map.panTo(newCenter);
        	map.zoomIn(3);
    	}
		
    	function map_init_basic (map, options) {
    		{% for location in locations %}
        		L.marker([{{location.latlng.0}},  {{location.latlng.1}}]).bindLabel("{{location.name}}", { noHide: false }).addTo(map);
        	{% endfor %}
        	var center = L.latLng({{map_center.0}}, {{map_center.1}});
        	map.panTo(center);
        	
        	/* http://stackoverflow.com/questions/10111668/find-all-elements-whose-id-begins-with-a-common-string */
        	var dates = document.querySelectorAll('*[id^="map-navigation"]');
        	for (i = 0; i < dates.length; i++) {
        		dates[i].onclick = function(e) {
            	    var pos = e.target.getAttribute('data-position');
            	    var zoom = e.target.getAttribute('data-zoom');
            	    if (pos && zoom) {
            	        var loc = pos.split(',');
            	        var z = parseInt(zoom);
            	        map.setView(loc, z, {animation: true});
            	        return false;
            	    	}
            	}
        	}
		}
	</script>
	<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    
	function drawChart() {
      	var data = google.visualization.arrayToDataTable([
        	['Name', 'Count'],
        	{% for key, value in topPersons %}
        		['{{key}}', {{value}}],
        	{% endfor %}
      	]);
      var options = {
        title: 'People mentioned',
      }   
     var chart = new google.visualization.BarChart(document.getElementById('persons_widget'));
     chart.draw(data, options);
     }
	</script>

</body>

</html>