<!DOCTYPE html>
{% load static %}
{% load splitter %}

<html>

    <head>
        <title>NewsMiner+</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>

    <body>
		<div class='wrapper'>
    	<header class='main-header clearfix'>
			<h1 class='logo'><a href="/">NewsMiner+</a></h1>
			<nav role='navigation' class='main-navigation'>
				<ul class='clearfix'>
					<li class='active'><a href='{% url 'index' %}'>Dossiers</a></li>
					<li><a href='{% url 'what' %}'>What is NewsMiner+?</a></li>
					<li><a href='{% url 'impressum' %}'>Imprint</a></li>
				</ul>
			</nav>
    	</header>
		<main role='main' class='main-content clearfix'>
			<section class='main-section clearfix'>
			<h1>Dossiers, {{meta_timestamp}}</h1>
			
			<!-- TIME NAVIGATION -->
			{% if time_navigation.older %}
				<p class='time-old'>
					<a href='/{{time_navigation.older.0}}/{{time_navigation.older.1}}/{{time_navigation.older.2}}'>« older</a>
				</p>
			{% endif %}
			{% if time_navigation.newer %}
				<p class='time-new'>
					<a href='/{{time_navigation.newer.0}}/{{time_navigation.newer.1}}/{{time_navigation.newer.2}}'>newer »</a>
				</p>
			{% endif %}
					
			{% for cluster in clusterDatas %}
				<article class="dossierlist clearfix">
					<a href='{{dossier}}{{cluster.id}}'>
						<h2>{{cluster.centroid.title}}</h2>
						{% for image in cluster.images %}
							<figure style="background-image:url(https://usercontent.googleapis.com/freebase/v1/image{{image}});"></figure>
						{% endfor %}
					</a>
				</article>
				<!-- <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q={{cluster.centroid.entity_locations.0}},+{{cluster.centroid.entity_locations.1}},+{{cluster.centroid.entity_locations.2}}&date=today+3-m&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script>
				 -->
			{% endfor %}
		</section>
	</main>
	<aside class='aside-content'>
		<div class="widget">
			<h2>What is Newsminer?</h2>	
			<p>
				NewsMiner+ is a web blog providing mashups regarding recent topics. Imagine, as different
				newspapers almost deal the same topics, it's rather complicated to get an overview over different
				articles at first and the topic bakground at second.
			</p>	
			<p>
				Technically, the application crawls a large collection of RSS feeds from all over the world, such as 
				Le Monde, The Guardian or The New York Times.
				After clustering the articles, all relevant entities are detected and the NewsMiner+ searches for 
				additional informations to describe them, using Freebase, GoogleMaps and 
				Leaflet/Open Street Maps.
			</p>
		</div>	
	</aside>
	</div>
 </body>

</html>