<!DOCTYPE html>
{% load static %}
{% load splitter %}

<html>

    <head>
        <title>NewsMiner+</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>

    <body>
		<div class='wrapper'>
    	<header class='main-header clearfix'>
			<h1 class='logo'><a href="/">NewsMiner+</a></h1>
			<nav role='navigation' class='main-navigation'>
				<ul class='clearfix'>
					<li class='active'><a href='{% url 'index' %}'>Dossiers</a></li>
					<li><a href='{% url 'what' %}'>What is NewsMiner+?</a></li>
					<li><a href='{% url 'impressum' %}'>Imprint</a></li>
				</ul>
			</nav>
    	</header>
		<main role='main' class='main-content clearfix'>
			<section class='main-section clearfix'>
			
			<!-- TIME NAVIGATION -->
			{% if time_navigation.older %}
				<a href='/{{time_navigation.older.0}}/{{time_navigation.older.1}}/{{time_navigation.older.2}}'>[older]</a>
			{% endif %}
			{% if time_navigation.newer %}
				<a href='/{{time_navigation.newer.0}}/{{time_navigation.newer.1}}/{{time_navigation.newer.2}}'>[newer]</a>
			{% endif %}
			<h1>Dossiers, {{meta_timestamp}}</h1>		
			{% for cluster in clusterDatas %}
				<a href='{{dossier}}{{cluster.id}}'>
					<article class="article-item dossierlist clearfix">
						<h2>{{cluster.centroid.title}}</h2>
						{% for image in cluster.images %}
							<img src="https://usercontent.googleapis.com/freebase/v1/image{{image}}">
						{% endfor %}
					</article>
				</a>
				<!-- <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q={{cluster.centroid.entity_locations.0}},+{{cluster.centroid.entity_locations.1}},+{{cluster.centroid.entity_locations.2}}&date=today+3-m&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script>
				 -->
			{% endfor %}
		</section>
	</main>
	</div>
 </body>

</html>