<!DOCTYPE html>
{% load static %}
{% load splitter %}

<html>

    <head>
        <title>NewsMiner+</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>

    <body>
		<div class='wrapper'>
    	<header class='main-header clearfix'>
			<h1 class='logo'><a href="/">NewsMiner+</a></h1>
			<nav role='navigation' class='main-navigation'>
				<ul class='clearfix'>
					{% if time_navigation.older %}
						<li>
							<a href='/{{time_navigation.older.0}}/{{time_navigation.older.1}}/{{time_navigation.older.2}}'>« Older</a>
						</li>
					{% else %}
						<li class="inactive">
							« Older
						</li>
					{% endif %}
					</li>
					<li><a href='{% url 'index' %}' class='active'>Dossiers</a></li>
					{% if time_navigation.newer %}
						<li>
							<a href='/{{time_navigation.newer.0}}/{{time_navigation.newer.1}}/{{time_navigation.newer.2}}'>Newer »</a>
						</li>
					{% else %}
						<li class="inactive">
							Newer »
						</li>
					{% endif %}
					<li><a href='{% url 'archive' %}'>Archive</a></li>
					<li><a href='{% url 'impressum' %}'>Imprint</a></li>
				</ul>
			</nav>
    	</header>
		<main role='main' class='main-content clearfix'>
			<section class='main-section clearfix'>
			<h1>Dossiers, {{meta_timestamp}}</h1>
			
			{% for cluster in clusterDatas %}
				<article class="dossierlist">
					<a href='{{dossier}}{{cluster.id}}' class='clearfix'>
						<h2>{{cluster.centroid.title}}</h2>
						{% for image in cluster.images %}
							<figure style="background-image:url(https://usercontent.googleapis.com/freebase/v1/image{{image}}); float: right;"></figure>
						{% endfor %}
					</a>
				</article>
				<!-- <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q={{cluster.centroid.entity_locations.0}},+{{cluster.centroid.entity_locations.1}},+{{cluster.centroid.entity_locations.2}}&date=today+3-m&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script>
				 -->
			{% endfor %}
		</section>
	</main>
	<aside class='aside-content'>
		<div class="widget">
			<h2>What is Newsminer?</h2>	
			<p>
				Different newspapers often cover the same topics, but from another perspective. 
				It's a rather time-consuming and complex task to get a more general impression about what's happening. 
				On the other hand are we already reading lots of articles every day, that take place at the other end of the world 				and we ask ourselves:
				Who is this Olexandr Turtschynow and where is Donezk? 
			</p>	
			<p>
				NewsMiner+ is a web portal providing mashups regarding recent news articles from different sources and corresponding 				background information like maps with relevant places or information about ocurring persons.
			</p>
			<p>
				Technically, the application crawls a large collection of RSS feeds from all over the world, such as Le Monde, The 				Guardian or The New York Times.
				After clustering the articles, all relevant entities (places, person, organizations) are detected and NewsMiner+ 				retrieves additional information about them, using Freebase, GoogleMaps and Leaflet/Open Street Maps.
			</p>
		</div>	
	</aside>
	</div>
 </body>

</html>